out_to_x no
own_window no
out_to_console yes
background no
max_text_width 0

# Update interval in seconds
update_interval 1

# This is the number of times Conky will update before quitting.
# Set to zero to run forever.
total_run_times 0

# Shortens units to a single character (kiB->k, GiB->G, etc.). Default is off.
short_units yes

# How strict should if_up be when testing an interface for being up?
# The value is one of up, link or address, to check for the interface
# being solely up, being up and having link or being up, having link
# and an assigned IP address.
if_up_strictness address

# Add spaces to keep things from moving about?  This only affects certain objects.
# use_spacer should have an argument of left, right, or none
use_spacer left

# Force UTF8? note that UTF8 support required XFT
override_utf8_locale no

# number of cpu samples to average
# set to 1 to disable averaging
cpu_avg_samples 2
net_avg_samples 2

pad_percents 2

#template0 ${color0}\1: ${exec ~/.i3/conky/info.py \2}
#template1 ${color0}\1 \2: ${exec ~/.i3/conky/info.py \3}


# Stuff after 'TEXT' will be formatted on screen
TEXT

# JSON for i3bar


[

{{ if eq .chezmoi.hostname "MaxFearnley" }}
#Battery Alert
${if_match ${battery_percent BAT0} <= 20 }
	${if_empty ${exec cat /sys/class/power_supply/BAT0/status | grep 'Discharging'}}
	${else}
		{"full_text": "LOW BATTERY", "urgent": true, "color": "\#{{ .drapeau.colors.d_red }}"},
	${endif}
${endif}
{{ end }}

#Free disk space
{ "full_text" : "ROOT ${fs_free /}" , "color" : "\#{{ .drapeau.colors.d_white }}" },
{ "full_text" : "HOME ${fs_free /home}" , "color" : "\#{{ .drapeau.colors.d_white }}" },

#CPU
{ "full_text" : "CPU ${cpu}% ${hwmon 0 temp 1}°C" , "color" : "\#{{ .drapeau.colors.d_white }}" },

{{ if eq .chezmoi.hostname "MaxFearnley" }}
#GPU
{ "full_text" : "GPU ${exec nvidia-smi -a | grep Gpu | awk '{print $3}'}% ${exec nvidia-smi -a | grep 'GPU Current Temp' | awk '{print $5}'}°C" , "color" : "\#{{ .drapeau.colors.d_white }}" },
{{ else if eq .chezmoi.hostname "Phranque" }}
#GPU
{ "full_text" : "GPU ${exec nvidia-smi -a | grep Gpu | awk '{print $3}'}% ${exec nvidia-smi -a | grep 'GPU Current Temp' | awk '{print $5}'}°C" , "color" : "\#{{ .drapeau.colors.d_white }}" },
{{ end }}

#Ram
{ "full_text" : "RAM ${memperc}%" , "color" :
${if_match ${memperc}<90}"\#{{ .drapeau.colors.d_white }}"${else}"\#{{ .drapeau.colors.d_red }}"${endif} },

# Playerctl
{ "full_text" :
${if_match "${exec playerctl status}" == "Playing"}
	"▶"
${else}
	${if_match "${exec playerctl status}" == "Paused"}
		"■"
	${else}
		""
	${endif}
${endif}
, "color" : "\#{{ .drapeau.colors.l_white }}"},

#Sound
{ "full_text" : "♪ ${exec pamixer --get-volume } %" , "color" : "\#{{ .drapeau.colors.l_white }}" },

{{ if eq .chezmoi.hostname "MaxFearnley" }}
#Brightness
{ "full_text" : "☀ ${exec xbacklight -get } %" , "color" : "\#{{ .drapeau.colors.l_white }}" },
{{ else if eq .chezmoi.hostname "FitzWilliam" }}
#Brightness
{ "full_text" : "☀ ${exec xbacklight -get } %" , "color" : "\#{{ .drapeau.colors.l_white }}" },
{{ end }}

#SSID
{{ if eq .chezmoi.hostname "MaxFearnley" }}
{"full_text" : ${if_empty ${wireless_essid wlp2s0}}
"disconnected", "color" : "\#{{ .drapeau.colors.d_red }}"},
 ${else}
"${wireless_essid wlp2s0} ${wireless_link_qual_perc wlp2s0}% ${addrs wlp2s0}", "color" : "\#{{ .drapeau.colors.d_green }}"},
${endif}
{{ else if eq .chezmoi.hostname "FitzWilliam" }}
{"full_text" : ${if_empty ${wireless_essid wlp2s0}}
"disconnected", "color" : "\#{{ .drapeau.colors.d_red }}"},
 ${else}
"${wireless_essid wlp2s0} ${wireless_link_qual_perc wlp2s0}% ${addrs wlp2s0}", "color" : "\#{{ .drapeau.colors.d_green }}"},
${endif}
{{ else if eq .chezmoi.hostname "Phranque" }}
{"full_text" : "${addrs eno1}", "color" : "\#{{ .drapeau.colors.d_green }}"},
{{ end }}

#Netspeed
${if_empty ${exec fping archlinux.org -c 1 -t 300 | grep '0% loss'}}
{ "full_text" : "⇵" , "color" : "\#{{ .drapeau.colors.d_red }}" },
${else}
{{ if eq .chezmoi.hostname "MaxFearnley" }}
{ "full_text" : "${downspeed wlp2s0} ⇵ ${upspeed wlp2s0}" , "color" : "\#{{ .drapeau.colors.d_green }}" },
{{ else if eq .chezmoi.hostname "FitzWilliam" }}
{ "full_text" : "${downspeed wlp2s0} ⇵ ${upspeed wlp2s0}" , "color" : "\#{{ .drapeau.colors.d_green }}" },
{{ else if eq .chezmoi.hostname "Phranque" }}
{ "full_text" : "${downspeed wlp2s0} ⇵ ${upspeed eno1}" , "color" : "\#{{ .drapeau.colors.d_green }}" },
{{ end }}
${endif}

{{ if eq .chezmoi.hostname "MaxFearnley" }}
#Battery
{ "full_text": "${if_empty ${exec acpi | grep 'Discharging'}}⬆${else}⬇${endif} ${battery_percent} % ${battery_time}", "color":
${if_empty ${exec acpi | grep 'Discharging'}}
"\#{{ .drapeau.colors.l_white }}"
${else}${if_match ${battery_percent}<20}
"\#{{ .drapeau.colors.d_red }}"
${else}${if_match ${battery_percent}<50}
"\#{{ .drapeau.colors.d_yellow }}"
${else}
"\#{{ .drapeau.colors.d_green }}"
${endif}${endif}${endif}},
{{ else if eq .chezmoi.hostname "FitzWilliam" }}
#Battery
{ "full_text": "${if_empty ${exec acpi | grep 'Discharging'}}⬆${else}⬇${endif} ${battery_percent} % ${battery_time}", "color":
${if_empty ${exec acpi | grep 'Discharging'}}
"\#{{ .drapeau.colors.l_white }}"
${else}${if_match ${battery_percent}<20}
"\#{{ .drapeau.colors.d_red }}"
${else}${if_match ${battery_percent}<50}
"\#{{ .drapeau.colors.d_yellow }}"
${else}
"\#{{ .drapeau.colors.d_green }}"
${endif}${endif}${endif}},
{{ end }}

#Date
{"full_text" : "${time %Y/%m/%d} ${time %H:%M:%S}", "color" : "\#{{ .drapeau.colors.l_white }}"}
],
